 {% load static %}
    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Sumary</h3>

            <div class="resume-item pb-0">
              <h4>Jawad Ahmad</h4>
              <p><em>Experienced software engineer proficient in Unity engine and C# programming, with a strong focus on 3D game development. Well-versed in multiplayer gaming and server hosting solutions, alongside expertise in AR,VR, Hololens, WebGL, Python, Socket, HTML, CSS, Java, PHP, Git, Copilot, Jira, Trello and databases. Also possesses knowledge of Laravel and Android development.</em></p>
              <ul>
                <li>Johar Town, Lahore, Pakistan</li>
                <li>+92 335 0660416</li>
                <li>jaawad.afzal@gmail.com</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor in Computer Science</h4>
              <h5>2015 - 2019</h5>
              <p><em>University of Management & Technology</em></p>
              <p></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Intermediate Education</h4>
              <h5>2013 - 2015</h5>
              <p><em>Punjab Group of College</em></p>
              <p></p>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
                          <div class="resume-item">
              <h4>Game Developer</h4>
              <h5>2022 - Present</h5>
              <p><em>Conovo Technologies, Lahore, Pakistan</em></p>
              <ul>
                <li>A client-based company, where I contributed to 35+ diverse gaming projects for various clients.</li>
                <li>Projects included titles like Jet Fighter, BadBiker, PokerPoker, Pet Doctor, AR/VR demos, and more.
                    Utilized Unity with third-party tools such as Zenject, UniRx, BestHTTP, Photon Fusion, Google Ads, Facebook SDK, Firebase, and PlayFab.</li>
                <li>Hands-on experience with features like Timeline, ScriptableObjects, Cinemachine, Animator, IAP, Game Foundation, ARKit, and XRKit.</li>
                <li>Implemented core systems using Singleton and State-based design patterns for scalable and maintainable architecture.</li>
                <li>Gained deep expertise in building scalable, interactive, and cross-platform game systems. (Android, IOS, WebGL)</li>
              </ul>
            </div><!-- Edn Resume Item -->
            <div class="resume-item">
              <h4>Game Developer</h4>
              <h5>2021 - 2022</h5>
              <p><em>MindBotix, Lahore, Pakistan</em></p>
              <ul>
                <li>A product-based gaming company known for innovative 3D games.</li>
                <li>Contributed to the development of 3D titles across various platforms. (Android & IOS)  </li>
                <li>Developed titles across multiple genres including Action, Simulation, Racing, and Horror.</li>
                <li>Completed 15+ projects within a year</li>
                <li>Gained hands-on experience in a fast-paced, high-output game development environment.</li>
              </ul>
            </div><!-- Edn Resume Item -->


          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->